/* Body Styles */
body{
    background-color: rgb(61, 59, 59);
    color: white;
    font-size: 18px;
    line-height: 1.6;
}

/* Navigation Styles */
.headerLogo{
    width: 200px;
    height: 200px;
}

nav{
    border-bottom: 2px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 10px 40px 50px 40px;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: #0cc0df;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 1.5rem;
}

nav li{
    color: #0cc0df;
}

/* Resume Link/Styles */ 
.resumeLink a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0cc0df;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    color: #0cc0df;
}

.resumeLink a:hover{
    border: 2px solid black;
    color: black;
}

/* Main Div Styles */
.mainDiv {
    width: 60%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.mainDiv h1{
    font-size: 80px;
    color: #0cc0df;
}

#study{
    font-size: 35px;
}

#niceToMeetYou{
    margin-top: 50px;
}

.aboutMeTagLine strong{
    color: #0cc0df;
}

.gitHubProjectsLink{
    text-decoration: none;
    color: #0cc0df;
}

.gitHubProjectsLink p {
    display: flex;
    width: 300px;
    border: 2px solid #0cc0df;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top: 50px;
}

.gitHubProjectsLink p:hover{
    color: black;
    border: 2px solid black;
}

/* Headings Styles */ 
h2{
    font-size: 40px;
    margin-bottom: 50px;
}

.heading{
    display: flex;
    flex-direction: row;
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 30px;
}

.heading h2{
    margin-top: auto;
    margin-bottom: auto;
}

.line{
    border: 1px solid #0cc0df;
    width: 400px;
    height: 1px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

/* About Me Styles */
.aboutMe{
    margin-bottom: 200px;
}

.aboutMe img{
    width: 400px;
    border-radius: 8px;
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
}

.aboutMeText p{
    text-align: justify;
    font-size: 18px;
}

.listGrid{
    display: grid;
    grid-template-columns: auto auto;
    list-style-type: none;
    width: 80%;
}

.listGrid li::before{
    content: '\25B7';
    color: #0cc0df;
    margin-right: 10px;
}

/* Experience Styles */
.experience{
    margin-bottom: 200px;
}

.experienceContent{
    display: flex;
    flex-direction: column;
}

.experienceContent h3{
    font-size: 22px;
}

.experienceContent h4{
    font-size: 18px;
    color: #0cc0df
}

.experienceContent h3 strong{
    color: #0cc0df;
}

.experiences{
    border: 1px solid #0cc0df;
    border-radius: 8px;
    padding: 15px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.listGrid2{
    list-style-type: none;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.listGrid2 li{
    margin-bottom: 10px;
    display: flex;
}

.listGrid2 li::before{
    content: '\25B7';
    color: #0cc0df;
    margin-right: 10px;
    font-size: 14px;
}

/* Work/Projects Styles */
.work{
    margin-bottom: 300px;
}

.projects{
    display: flex;
    flex-direction: column;
}

.titleText{
    position: absolute;
    width: 300px;
    top: 3%;
    left: 70%;
    transform: translate(0%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(20, 141, 211, 0.699);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

.titleText h4{
    font-size: 15px;
    color: #0cc0df;
}

.titleText h3{
    font-size: 25px;
}

.photoContainer{
    position: relative;
    width: 600px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.projects img{
    width: 600px;
    border-radius: 8px;
    margin-right: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
}

.projects img:hover{
    transform: scale(1.05);
}

.overlayText{
    position: absolute;
    width: 460px;
    top: 100%;
    left: 12%;
    transform: translate(0%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(20, 141, 211, 0.699);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

.overlayText strong{
    color: #0cc0df;
}

#icon{
    position: absolute;
    top: 97%;
    left: 85%;
}

/* Contact Styles */
#whatsNext{
    text-align: center;
}

#getInTouch{
    text-align: center;
    font-size: 60px;
}

.contactText{
    text-align: center;
    line-height: 10px;
    margin-top: -20px;
}

/* Social Icon Styles */
.fa{
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: #0cc0df;
}

.fa p{
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 100px;
}

.fa:hover{
    color: black;
}

/* Footer Styles */

footer{
    background-color: rgb(61, 59, 59);
    text-align: center;
    font-size: 15px;
    line-height: 10px;
    width: 250px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#footerLink:hover{
    color: black;
    cursor: pointer;
}

/* Tablet/Phone Styles */
@media (max-width: 768px){
    body{
        font-size: 16px;
        line-height: 1.4;
    }
    
    nav{
        margin: 10px 20px 30px 20px;
    }

    .headerLogo{
        width: 100px;
        height: 100px;
    }

    .mainSection{
        width: 100%;
        height: auto;
        margin-top: 50px;
    }

    .mainSection h1{
        font-size: 50px;
    }

    .aboutMe img{
        width: 100%;
        float: none;
        margin: 0 auto 20px auto;
        display: block;
    }

    .listGrid{
        grid-template-columns: auto;
        width: 100%;
    }

    .listGrid2{
        grid-template-columns: auto;
    }

    .experiences{
        width: 100%;
    }

    .photoContainer, .projects img{
        width: 100%;
    }

    .overlayText{
        width: 80%;
        left: 10%;
    }

    .titleText{
        width: 100%;
        left: 0;
        transform: translate(0, -50%);
    }

    .fa{
        width: 60px;
        font-size: 24px;
    }

    #getInTouch{
        font-size: 40px;
    }
}